fastapi
uvicorn
python-dotenv
pymongo
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-mongodb
sentence-transformers
beautifulsoup4
pypdf
docx2txt
openpyxl
pandas
anthropic
nest_asyncio